<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Documento'), ['action' => 'edit', $documento->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Documento'), ['action' => 'delete', $documento->id], ['confirm' => __('Are you sure you want to delete # {0}?', $documento->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Documentos'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Documento'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="documentos view large-9 medium-8 columns content">
    <h3><?= h($documento->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Nombre') ?></th>
            <td><?= h($documento->nombre) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Abreviacion') ?></th>
            <td><?= h($documento->abreviacion) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($documento->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($documento->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($documento->modified) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Requerido') ?></th>
            <td><?= $documento->requerido ? __('Yes') : __('No'); ?></td>
        </tr>
    </table>
</div>
