/*Formularios*/
.input_error{
    border: 2px solid red;
}

.input_success{
    border: 2px solid lime;
}

.fondo_blanco{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.input #email, .input #password{
    margin-bottom: 10px;
}

h1, legend{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: orange;
}

select{
    color: black;
}

input[type='radio']{
    margin: 5px;
}

button[type='submit']{
    margin: 0 auto;
    margin-top: 20px;
}

form{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 80px;
    color: white;
}

.modal-body form{
    margin: 0px;
    padding-bottom: 5px;
}
/*Maqueta*/
.info_principal{
    position: absolute;;
    z-index: 1000;
    text-align: right;
    font-size: 4em;
    right: 0;
    top: 0;
    color: green;
    text-shadow: 0px 0px 2px white;
}
#logotipo{
    max-width: 50px;
    margin-top: -15px;
}
body{
    background-image: url(/img/mision_vivienda_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.alert{
    position: absolute;
    z-index: 1000 !important;
    animation-name: alerta;
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes alerta {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

nav{
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
}

nav a{
    color: black !important;
    /*text-shadow: 0px 0px 1px black;*/
}
nav a:hover{
    background-color: orange !important;
    color: white !important;
    text-shadow: 0px 0px 1px grey;
}

footer{
    left:0px;
    height:60px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
}

/*Panel General*/
#panel_general div{
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 38px;
    border-radius: 5px;
    font-weight: bold;
}

#panel_general div:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 8px black;
}

#panel_general div a{
    text-decoration: none;
    color: black;
}

#panel_general div a:visited{
    color: black;
}

.info_incorrecto{
    background-color: red !important;
    color: white !important;
    box-shadow: 0px 0px 8px red;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
